[project]
	description = vendor files w7
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/schnappkit
[access "refs/for/refs/*"]
	read = group user/schnappkit
	push = group user/schnappkit
	label-Code-Review = -2..+2 group user/schnappkit
	label-Verified = -1..+1 group user/schnappkit
	rebase = group user/schnappkit
	removeReviewer = group user/schnappkit
	submit = group user/schnappkit
[access "refs/heads/*"]
	read = group user/schnappkit
	create = group user/schnappkit
	push = +force group user/schnappkit
	pushMerge = group user/schnappkit
[access "refs/tags/*"]
	push = +force group user/schnappkit
	pushTag = group user/schnappkit
	pushSignedTag = group user/schnappkit
